[user]
  name = Naoto Yoshimoto
  email = me@naotone.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINrroyHXogDE+eRpIBNBlMp94/LM3Bz6z6VW0vPmtkpT
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true
[tag]
  forceSignAnnotated = true
[core]
  editor = vim
  ignorecase = false
  pager = delta
  excludesfile = ~/.gitignore
[ghq]
  root = /Users/naotone/Code
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[init]
  defaultBranch = main
[push]
  default = current
  autoSetupRemote = true
[interactive]
  diffFilter = delta --color-only
[delta]
  line-numbers = true
  navigate = true
  diff-so-fancy=true
  plus-style="#A9DEAC"
  minus-style="#FF5A5F"
  plus-emph-style="bold #1A1C1F #A9DEAC"
  minus-emph-style="bold #1A1C1F #FF5A5F"
  line-numbers-plus-style="#A9DEAC"
  line-numbers-minus-style="#FF5A5F"
  hunk-header-style="omit"
[merge]
  conflictstyle = zdiff3
[pull]
  ff = only
[rebase]
  autoStash = true
  autosquash = true
[alias]
  lg = log --oneline --graph --decorate --all
