[user]
  name = Naoto Yoshimoto
  email = me@naotone.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINrroyHXogDE+eRpIBNBlMp94/LM3Bz6z6VW0vPmtkpT
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true
[tag]
  forceSignAnnotated = true
[core]
  editor = vim
  ignorecase = false
[ghq]
  root = /Users/naotone/Code
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
