" --------------------------------------------------------------------
"  General Settings
" --------------------------------------------------------------------
" Enable incremental search
set incsearch

" Disable ring beep
set vb t_vb=


" --------------------------------------------------------------------
" Edit Settings
" --------------------------------------------------------------------

set ignorecase
set smartcase


" --------------------------------------------------------------------
" Visual Settings
" --------------------------------------------------------------------

" Highlight search words
set hlsearch

" Scroll offset
set scrolloff=3

" highlight ideographic spaces
augroup highlightSpace
  autocmd!
  autocmd Colorscheme * hi IdeographicSpace term=underline ctermbg=DarkRed guibg=DarkRed
  autocmd VimEnter,WinEnter * match IdeographicSpace /　\|\s\+$/
augroup END


" --------------------------------------------------------------------
"  Keymap Settings
" --------------------------------------------------------------------

noremap <C-j> <ESC>
noremap! <C-j> <ESC>

nnoremap <silent> j gj
nnoremap <silent> k gk
nnoremap <silent> <C-j> <C-e>
nnoremap <silent> <C-k> <C-y>

noremap <silent> <C-a> ^
noremap <silent> <C-e> $

vnoremap G G$

nnoremap ; :
nnoremap : ;
